@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shalimar&family=Slackey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Bebas+Neue&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shalimar&family=Slackey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Bebas+Neue&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Phudu:wght@300..900&family=Playwrite+IT+Moderna:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shalimar&family=Slackey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&family=Bebas+Neue&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Phudu:wght@300..900&family=Playwrite+IT+Moderna:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shalimar&family=Slackey&display=swap');
@import url('https://fonts.googleapis.com/css2 family=Cuprum:ital,wght@0,400..700;1,400..700&family=Eagle+Lake&family=Katibeh&family=Playwrite+BE+VLG:wght@100..400&family=Scheherazade+New:wght@400;500;600;700&display=swap');
header {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 10px;
    background-color:#F5E8DD; 
}
.Logo {
    max-width: 120px; 
    height: auto;
    background-color:#F5E8DD; 
}
#A1{
  font-size:20px;  
}
.navbar {
    flex-grow: 1; 
    margin-left: 20px; 
}
.navbar-toggler{
    background-color:#F5E8DD;
}
/*Todo el cuerpo del index*/
.index{
    background-color:#F5F5F5;
    font-family:Cuprum;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; 
  padding: 20px;
  
}
.nav-item  {
  color: black;
  margin-right: 20px;
  transition: color 0.3s ease;
}

.nav-item :hover {
  color: grey; 
  top: 50%;
}
.nav-item a img {
  margin-right: 20px; 
  width: 30px; 
  height: auto;
}
.section {
  width: 100%;
  max-width: 1200px; 
  margin: 0 auto 50px; 
  text-align: center; 
}
/*Primer titulo index*/
h1 {
  font-size: 2em;
  margin-bottom: 20px; 
  text-align: center;
  font-family:Anton;
}
/*Los h2 del index*/
.encabezado{
    font-family:Phudu;
}

nav ul li {
    list-style-type: none;
}
/*Tabla del index*/
  .horario-cuadro {
            width: 100%;
            max-width: 600px;
            margin: 20px auto;
            padding: 20px;
            border: 3px solid ;
            border-radius: 10px;
            background-color: #E8F9FF;
            box-shadow: 0 4px 10px transparent;
        }
        table {
            width: 100%;
            border-radius:50px;
        }
        th, td {
            padding: 12px;
            text-align: center;
            border: 20px solid ;
            color: black;
            
        }
        th {
            background-color: ;
            color: black;
        }
        h2 {
            text-align: center;
            
        }

.titulo_dia, .titulo_horario{
    text-align: center;
    color:black;
}
/*el propio texto del index*/
.informationem_de_nobis{
  font-size: 1.1em;
  color: black;
  line-height: 1.6;
  margin-bottom: 15px; 
}
.footer {
    display: flex;
    align-items: center; 
    justify-content: space-between;  
    padding: 10px;
    background-color: ;
}
.info de pie{
    text-align: center;
    font-size: 50px; 
}
.social-icons{
    border: none;
}
.nombre{
    color:black;
}
/*Hasta aqui es lo del index*/
/*Aqui empieza los estilos de las demas paginas*/
.card-title{
    text-align:center;                         
    background-color:#A79277;
    font-family:Bebas Neue;
    font-size:23px; 
}
.card-text{
    color: black;
}
.card {
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.card:hover {
    box-shadow: 0 9px 18px black;
}
.card-img-top {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
    height: 450px; 
    border-radius: 20px;
}

details summary {
    font-weight: bold;
    cursor: pointer;
}

details p {
    margin-top: 10px;
}
.row {
    display: flex;
    grid: 20px; 
    flex-wrap: wrap; 
}
.card-body {
    padding: 20px;
}
.pig{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color:#C8DBBE; 
  padding: 20px;
  font-size:21px;
  font-family: Abel;
}
.oveja{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      background-color:#C0C78C; 
      padding: 20px;
      font-size:21px;
      font-family: Abel ;
}
.conejo{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color:#E7FBE6; 
  padding: 20px;
  font-size:21px;
  font-family: Abel ; 
}
.cabra{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      background-color:#B1C29E; 
      padding: 20px;
      font-size:21px;
      font-family: Abel ;
}
.imagen:hover{
border-radius:50%;
border-radius:50%;
box-shadow: 0px 0px 15px 15px #ec731e;
box-shadow: 0px 0px 15px 15px #ec731e;
transform: rotate(360deg);
transform: rotate(360deg);
}
/*Pie de la página*/
.footer animales {
    display: flex;
    align-items: center; 
    justify-content: space-between;  
    padding: 10px;
    background-color:#FEFAE0 ;
}
.info de pie{
    text-align: center;
    font-size: 50px; 
}
.social-icons{
    border: none;
}
.nombre{
    color:black;
}